{% extends 'base.html' %}
{% from 'macroses.html' import city_text %}
{% block main_row %}
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-8 col-md-9 col-sm-9">
      <span class="title">СКИДКИ И АКЦИИ В МАГАЗИНАХ &laquo;{{ network.name|upper }}&raquo;</span>
    </div>
    <brand itemscope itemtype="http://schema.org/Brand">
      <div class="col-lg-8 col-md-9 col-sm-9 hero-feature blog-detail">
        <meta itemprop="name" content="{{ network.name }}">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <img class="img-responsive" itemprop="image" src="{{ url_for('base.net_image', net_name_slugified=network.name_slugified) }}" alt="{{ network.name }}">
          </div>
        </div>
        <div class="row" style="margin-top:30px;">
          <div class="col-lg-12 col-md-12 col-sm-12">
            {% autoescape false %}
              <p itemprop="description">{{ network.description }}</p>
            {% endautoescape %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-3 hidden-xs">
        {# advertisement #}
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          {% for item in city_objs %}
            {{ city_text(
              item.name,
              url_for(
                'base.catalogue',
                net_name_slugified=network.name_slugified,
                city_name_slugified=item.name_slugified)
              ) }}
          {% endfor %}
        </div>
      </div>
    </brand>
  </div>
{% endblock %}
{% block breadcrumb %}
  <li><a href="{{ url_for('base.root') }}" class="fa fa-home"></a></li>
  <li><a href="{{ url_for('base.nets') }}">МАГАЗИНЫ</a></li>
  <li class="active">{{ network.name|upper }}</li>
{% endblock %}
